<div class="fp-addphoto-background">
</div>
<div class="fp-addphoto-container">
  <div class="fp-addphoto-box">
    <div class="fp-info-close"><span (click)="closeInfoBoard()"><span class="glyphicon glyphicon-remove"></span></span></div>
    <div class="fp-addphoto-title">
      <h3>Add Photo</h3>
    </div>
    <div class="fp-addphoto-content">
      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="well my-drop-zone">
        + Drop Images Here
      </div>

      <div style="margin-bottom: 40px">

        <table class="table">
          <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td class="text-center">
              <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-danger btn-xs"
                      (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div>
          <button type="button" class="btn btn-success btn-s"
                  (click)="upload()" [disabled]="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span> Upload all
          </button>
          <button type="button" class="btn btn-warning btn-s"
                  (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
          </button>
          <button type="button" class="btn btn-danger btn-s"
                  (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
          </button>
        </div>

      </div>

    </div>
  </div>
</div>
